<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <nav class="barra-app">
    <a routerLink="/panel" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="grid-outline"></ion-icon>
      <span>Panel</span>
    </a>

    <a routerLink="/viajes" routerLinkActive="activo">
      <ion-icon name="navigate-outline"></ion-icon>
      <span>Viajes</span>
    </a>

    <a routerLink="/historial" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="time-outline"></ion-icon>
      <span>Historial</span>
    </a>

    <a routerLink="/configuracion" routerLinkActive="activo">
      <ion-icon name="settings-outline"></ion-icon>
      <span>Ajustes</span>
    </a>
  </nav>
</ion-app>
