<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" class="barra-tabs">
    <ion-tab-button tab="panel" [routerLink]="['/panel']" routerLinkActive="tab-activo">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Panel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="viajes" [routerLink]="['/viajes']" routerLinkActive="tab-activo">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Viajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial" [routerLink]="['/historial']" routerLinkActive="tab-activo">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="configuracion"
      [routerLink]="['/configuracion']"
      routerLinkActive="tab-activo"
    >
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
